@model KoLiber.Module.Widgets.Models.DotpayDonationFormPart

<fieldset>
    <legend></legend>
    <div>
        @Html.LabelFor(m => m.DotpayId, T("Dotpay Id"))
        @Html.EditorFor(m => m.DotpayId)
        @Html.ValidationMessageFor(m => m.DotpayId, "*")
		<span class="hint"></span>
    </div>
    <div>
        @Html.LabelFor(m => m.SuggestedAmount, T("Suggested Amount"))
        @Html.EditorFor(m => m.SuggestedAmount)
        @Html.ValidationMessageFor(m => m.SuggestedAmount, "*")
		<span class="hint"></span>
    </div>
    <div>
        @Html.LabelFor(m => m.Purpose, T("Purpose"))
        @Html.EditorFor(m => m.Purpose)
        @Html.ValidationMessageFor(m => m.Purpose, "*")
		<span class="hint"></span>
    </div>
    <div>
        @Html.LabelFor(m => m.ReturnUrl, T("Return Url"))
        @Html.EditorFor(m => m.ReturnUrl)
        @Html.ValidationMessageFor(m => m.ReturnUrl, "*")
		<span class="hint"></span>
    </div>
</fieldset>